:root {
    --dayD1 : #1C2149;
    --dayBg : #F9F8FD;
    --dayD3 : #878AA3;
    --dayD4 : #CED0E4;
    --dayP1 : #6940DA;
    --dayP2 : #B8A0FB;
    --dayP3 : #EBE5FD;
    --dayRed: #E90000;
    --dayS3 : #F24F64;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html, button {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: var(--dayD4);
}
h1 {
    font-size: 300%;
    margin: 10px 0;
    line-height: 4rem;
}


.grid-container {
    background: var(--day-D1, #1C2149);
    width: 100%;
    /* position: relative; */
}

/* Navigation */
nav {
 padding: 10px;
 overflow: hidden;
}
nav img{
    width: 195px;
    height: 55px;
    margin-top: 25px;
    margin-left: 7.5%;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 5%;
}

.main-nav li:last-child {
    margin-right: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav a{
    text-decoration: none;
    color: var(--dayD4);
    font-size: 15px;
}

/* Button Styling */
.get-startedbtn {
    display: inline-block;
    background-color: var(--dayP1);
    color: #fff;
    cursor: pointer;
    padding: 14px 50px;
    border: 1px solid transparent;
    border-radius: 10px;
}


/* HEADER */

.text-box {
    background-color: #878aa300;
    width: 85%;
    margin: auto;
    margin-top: 5%;
    padding: 1%;
    text-align: center;
    line-height: 2.0rem;
    position: relative;
    
}

.text-box h4 {
 margin: 20px 0;
 font-weight: 300;
}

.vector {
    width: 200px;
    position: absolute;
    top: 15%;
    left: 45%;

}

.ellipse {
width: 1000px;
height: 174.76px;
transform: rotate(-20.817deg);
flex-shrink: 0;
stroke-width: 10px;
stroke: var(--day-S3, #F24F64);
position: absolute;
top: 60%;
left: 10%;
}
.span-textbox {
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.dashboard {
    width: 800px;
    height: 550px;
}


.span-textbox button {
    margin-right: 4%;
}

.span-textbox .piggy {
    position: absolute;
    top:  100px;
    left: 50px;
}




/* SECTION 2 */
.about {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding: 10px;
}

.about img {
    width: 80%;
    text-align: center;
}